<%-   include('partials/header.ejs')   %>
<!-- <%- include('partials/footer.ejs') %> -->
  <!-- Main Content -->
  <div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2>All Contacts</h2>
      <button  class="btn btn-success"><a href="/add-contact">Add New</a></button>
    </div>

    <div class="text-center">


       <% if (message) { %>
        <div class="alert alert-info">
            <h1 class="display-4"> <%= message %>500</h1>
        </div>
      <% } else{ %>
      <p class="lead">Oops! Internal Server Error</p>
      <a href="/" class="btn btn-primary">Go Back Home</a>
      <% } %>
  </div>

<%-  include('partials/footer.ejs')    %>